html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* MAIN CONTAINER */
.main-container {
    /*border: 1px solid black;*/
    height: 100%;
}

/* LOGIN PAGE */
.login-page {
    height: 30%;
    top: 25%;
}
.login-page .form-container {
    /*border: 1px solid green;*/
    height: 50%;
    margin-top: 10%;
}
.login-page input:first-child {
    margin-bottom: 2%;
}

.login-page input {
    font-size: 1.2em;
}
.login-page button {
    margin-top: 1em;
}